nav {
    transition: background-color 200ms ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.logo {
    transition: filter 200ms ease-in-out;

    filter: invert();
    width: 250px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.links a {
    transition: color 200ms ease-in-out;
    color: inherit;
    text-decoration: none;
}
